body{
    *{
        font-family: "PT Sans", "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
}

#header{
    ul.side-header{
        list-style: none;
        display: flex;
        @media screen and (max-width: 767px) {
            justify-items: center;
            align-content: center;
            align-items: center;
            padding: 0;
        }
        li {
            a{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
            }
            + li{
                padding-left: 15px;
            }
        }
    }

}


#menu-bar{
    position: relative;
    @media screen and (max-width: 767px) {
        background-color: var( --e-global-color-221cd30 );
    }
    .jkit-menu-wrapper{
        height: 50px;
    }
    ul{
        li{
            a{
                position: relative;
                &:before{
                    content: "";
                    bottom: 0;
                    left: 5px;
                    right: 5px;
                    height: 5px;
                    position: absolute;
                    background: var(--e-global-color-221cd30);
                    opacity: 0;
                    transition: all 0.3s ease;
                }
                &:hover{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }

    #mobile-logo{
        position: relative;
        a{
            position: absolute;
            top: 50%;
            left: 10px;
            width: 110px;
            transform: translateY(-50%);
        }
    }

    #mobile-cart{
        position: relative;
        left: 5px;
        .elementor-menu-cart__toggle{
            padding: 0;
        }
    }
    #mobile-my-account{
        position: relative;
        top: 10px;
        left: 15px;
    }
}

#hamburger-button{
    position: relative;
    top: 5px;
    @media screen and (max-width: 767px) {
        button{
            padding: 6px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
    }
}


#home-sidebar{
    .elementor-widget-container{
        list-style: none;
        li{
            h3{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}


#product-list{
    .elementor-widget-image{
        padding: 10px;
        border: 1px solid #ccc;
        img{
            height: 267px;
            width: 100%;
            object-fit: cover;
            @media screen and (max-width: 1024px) {
                height: 200px;
            }
        }
    }
    .title-row{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .price{
        margin-bottom: 0;
        color: #b7b480;
        font-size: 13px;
        font-weight: bold;
    }
    .short-description{
        font-size: 14px;
    }
}


#product-content{
    .price{
        margin-bottom: 0;
    }
}
#related-product{
    margin-top: 30px;
    h2{
        color: var(--e-global-color-221cd30);       
        padding-bottom: 15px;
    }
    a.add_to_cart_button{
        background-color: var( --e-global-color-7b2a83a );
        color: white;
    }
    img{
        padding: 10px;
        border: 1px solid #ccc;
    }
}